<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="register" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="uesrname">
    <input type="text" name="first_name" placeholder="first_name">
    <input type="text" name="last_name" placeholder="last_name">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="password" placeholder="password">
    <input type="text" name="confirm_password" placeholder="confirm_password">

    <input type="submit" value="register">
<a href="register">register</a>
</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>